body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
.addBook {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 50px;
}

.addBook label {
    margin: 5px 10px 5px 0;
}

.addBook input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.addBook button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.addBook button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .addBook input {
    margin: 10px 0;
    }
    
    .addBook {
    flex-direction: column;
    align-items: stretch;
    }
}

#books td, #customers th {
border: 1px solid #ddd;
padding: 8px;
}

#books tr:nth-child(even){background-color: #f2f2f2;}

#books tr:hover {background-color: #ddd;}

#books th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #04AA6D;
color: white;
}

th, td{
    width: 200px;
}

.display, .addBook{
    margin: 100px 0px 0px 250px;
}