body {font-family: Arial, Helvetica, sans-serif;}
        * {box-sizing: border-box;}
        
.addBook {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 50px;
}

.addBook label {
    margin: 5px 10px 5px 0;
}

.addBook input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.addBook button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.addBook button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .addBook input {
    margin: 10px 0;
    }
    
    .addBook {
    flex-direction: column;
    align-items: stretch;
    }
}


.addBook, .display{
    margin: 100px 0px 0px 250px;
}

.display{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
}

.bookTitle {
    height: 30%;
    background: red;
    color: white;
    text-align: center;
}

.bookBody{
    padding: 2px 16px;
}